.weather {
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 20px;
    text-align: center;

    &__footer {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
    }
}

.temperature {
    font-size: 50px;
}

.weather__description, .bold {
    font-weight: 700;
}

.weather__humidity,
.weather__wind {
    display: flex;
    align-items: center;
}

.humidity-description,
.wind-description {
    text-align: left;
    margin-left: 10px;
}