@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body, ::placeholder, input {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(4,38,62);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    border-radius: 18px;
    padding: 10px 15px;
    width: 450px;
    background-color: white;
    text-align: center;
}

