* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a237e;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    padding: 10px 15px;
    width: 550px;
    background-color: white;
}

